---
title: Pivotal Tracker for PCF
---

## Product Snapshot
<dl>
  <dt>Current Pivotal Tracker for PCF Details</dt>
  <dd>
    <strong>Version</strong>: 1.2.1.9
  </dd>
  <dd>
    <strong>Release Date</strong>: 13 July 2015</dd>
  <dd>
    <strong>Compatible Ops Manager Version(s)</strong>: 1.5.x, 1.4.x</dd>
  <dd>
    <strong>Compatible Elastic Runtime Version(s)</strong>: 1.5.x, 1.4.x</dd>
  <dd>
    <strong>vSphere support?</strong>
    Yes</dd>
  <dd>
    <strong>AWS support?</strong>
    Yes</dd>
  <dd>
    <strong>OpenStack support?</strong>
    No</dd>
</dl>

## Upgrading to the Latest Version
Consider the following compatibility information before upgrading Pivotal Tracker for PCF.

<table border="1" class="nice">
  <tbody>
    <tr>
      <th style="white-space:nowrap;">Ops Manager Version</th>
      <th>Supported Upgrades</th>
    </tr>
    <tr>
      <th>1.3.x</th>
      <td>
        None. 1.1.1.0 is the only release available for Ops Manager 1.3.x.
      </td>
    </tr>
    <tr>
      <th>1.5.x and 1.4.x</th>
      <td>
        None. If you have Pivotal Tracker for PCF on Ops Manager 1.3.x, please contact
        <a href="mailto:tracker-pcf@pivotal.io">tracker-pcf@pivotal.io</a>
        before upgrading to Ops Manager 1.5.x or 1.4.x.
      </td>
    </tr>
  </tbody>
</table>

## Requirements
* PCF Ops Manager 1.4 or later
* PCF Elastic Runtime 1.4 or later
* MySQL for PCF 1.4 or later
* Riak CS for PCF 1.4 or later

## Important Notes

### Data Backups

Pivotal Tracker for PCF does not yet back up any data it stores in the MySQL or Riak CS services. Please work with your Pivotal Representative to ensure that proper backup and recovery policies are in place.

### Migrating from Riak CS Blobstore to External Blobstore
Given the following scenario: Pivotal Tracker was configured to use Riak CS for PCF, installed via Ops Manager, and end-users have data stored in Pivotal Tracker (specifically, attachment uploads are stored in the blobstore). If Pivotal Tracker is subsequently reconfigured to use an external blobstore in Ops Manager, the Riak CS data will be ***automatically deleted*** upon the next installation in Ops Manager. Be sure to migrate any blobstore objects that you want to preserve to the new blobstore prior to doing this. Please work with your Pivotal Representative for more details.

## Installation Prerequisites

### Pivotal Tracker Admin User
As part of the Pivotal Tracker configuration in Ops Manager (see [Pivotal Tracker Admin Email](#pivotal_tracker_admin_email) below), an Elastic Runtime user must be specified to function as the Pivotal Tracker Administrator. This user does not need administrative privileges for Elastic Runtime though.

The Pivotal Tracker Admin User must already exist in the Elastic Runtime User Database ("UAA"). The user will not be automatically created upon installation of the Pivotal Tracker for PCF product.

NOTE: This user does not require any org or space permissions, since the account is not used for Elastic Runtime PaaS functions. This user will be granted administrative privileges only within the Pivotal Tracker for PCF application; installation of Pivotal Tracker for PCF does not modify the UAA Administrator permissions.


## Install via PCF Ops Manager
To install Pivotal Tracker for PCF, follow the procedure for installing PCF Ops Manager products:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/pivotal-tracker-cf).
1. Upload the product file to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the Available Products view to add this product to your staging area.
1. Click the newly added tile to review any configurable options.
1. Click **Apply Changes** to install the product.

## Product Configuration

### Assign Networks
Assign the Network which should be used by Pivotal Tracker.  See the Ops Manager Director tile configuration and documentation for more information.


### Assign Availability Zones
Assign the Availability Zones which should be used by Pivotal Tracker.  See the Ops Manager Director tile configuration and documentation for more information.


### Pivotal Tracker Config

#### Subdomain of Pivotal Tracker app
Enter the subdomain which should be used by Pivotal Tracker. This will be prepended to the *System Domain* configured in the Cloud Controller tab of Pivotal Elastic Runtime. For example, if the System Domain is `system.cf.biz` and the subdomain is `tracker`, Pivotal Tracker will be available to users at `tracker.system.cf.biz`.

#### App Salt
Enter a random string. This string is used as a salt when encrypting Pivotal Tracker user passwords. This must remain the same when re-installing Pivotal Tracker and using an existing database, otherwise pre-existing user passwords will not work after re-installation.

#### MySQL Service Plan
This is the name of the MySQL for PCF service plan to use when provisioning the Pivotal Tracker database. Refer to the MySQL for PCF [Service Plan documentation](/p-mysql/index.html#service-plan) for more information.

#### <a name="pivotal_tracker_admin_email"></a>Pivotal Tracker Admin Email
Enter the email of the Elastic Runtime user who will serve as the Pivotal Tracker Administrator.

#### Number of App Instances
This specifies the number of Elastic Runtime application instances to use for Pivotal Tracker web application. Increase for more redundancy and/or scalability.  E.g., if you want the Pivotal Tracker web app to remain available even if one of the web app instances is restarted, set this to 2.

#### Run in Debug Mode
Check this to run the Pivotal Tracker workers as separate Elastic Runtime apps. You may want to enable this to increase isolation of worker apps, or if you are trying to debug an issue affecting a specific type of job and want to easily filter its logs. Note: this will consume three additional Elastic Runtime application instances, versus the default of two (one web app and one worker app).


### Blobstore Config

#### Riak CS Service
By default, Pivotal Tracker for PCF uses a Riak CS service instance to store file uploads attached to Pivotal Tracker Stories. Specify the Riak CS service plan to use when provisioning the Pivotal Tracker blobstore. Refer to the Riak CS for PCF [Service Plan documentation](/p-riakcs/index.html#service-plan) for more information.

#### External Blobstore

If you prefer to use an external S3-compatible blobstore, enter the necessary configuration details.

***WARNING: Reconfiguring Pivotal Tracker for PCF to use an external blobstore will delete any existing Pivotal Tracker Riak CS service and its associated data.***


### Lifecycle Errands
The *Push Pivotal Tracker* errand should always be enabled when installing, upgrading, or changing configuration of the Pivotal Tracker product.

#### Elastic Runtime Details
The *Push Pivotal Tracker* lifecycle errand deploys and configures Pivotal Tracker apps in the Elastic Runtime PaaS.

It uses the *push_console* Elastic Runtime user to:

1. Create a *pivotal-tracker* Space under the *system* Org
1. Provision MySQL and Blobstore service instances
1. Push the Pivotal Tracker Web and Worker apps to Elastic Runtime

### Resource Config

You may change the resource configuration, but the defaults should be sufficient for most Pivotal Tracker installations.

## Architecture Overview
<%= image_tag('architecture_overview.svg') %>

## Usage

### Logging
Pivotal Tracker Web and Worker apps log via Elastic Runtime [Loggregator](/pivotalcf/devguide/deploy-apps/streaming-logs.html).

Logs for Pivotal Tracker Memcached and Solr jobs are available from the *Logs* section in PCF Ops Manager.

### App Status
Pivotal Tracker has some pages which expose information about the status and health of the app:

#### Env Info
* **URI:** `https://<yourdomain>/env_info`
* **Access:** Anyone with access to the domain can see this information, without being logged in to Elastic Runtime.
* **Description:** Provides status on the various components and services which are part of or support Pivotal Tracker.  If problems with any of these are detected, they will be reported on this page.  The 'index' page is a summary of all components except 'attachments', with links to pages for individual components

#### Env Info Attachments
* **URI:** `https://<yourdomain>/env_info/attachments`
* **Access:** Anyone with access to the domain can see this information, without being logged in to Elastic Runtime.
* **Description:** Provides status on the blobstore, for either the default Riak CS blobstore or an external blobstore.  This information is not available on the the env_info "index" page.

#### Private Install Info
* **URI:** `https://<yourdomain>/private_install_info`
* **Access:** Only an authenticated Pivotal Tracker Admin user can view this page.
* **Description:** Provides detailed information on all Environment Variables which are present in the running Pivotal Tracker environment.  It also provides information on the license and users, but there are currently no license limits enforced in the Pivotal Tracker Cloud Foundry product.

### Pivotal Tracker Administration
The Pivotal Tracker Admin can access various pages to control the appearance and behavior of the application.  These are only accessible to an authenticated Pivotal Tracker Admin user, and can be reached via the "admin" link in the header.

#### Admin FAQ
* **URI:** `https://<yourdomain>/admin/single_account_mode_admin_faq`
* **Description:** Answers frequently asked questions for the Pivotal Tracker Admin user.

#### Projects
* **URI:** `https://<yourdomain>/admin/find_projects`
* **Description:** Allows the Admin to search, create, view, update, or delete projects.

#### People
* **URI:** `https://<yourdomain>/admin/people`
* **Description:** Allows the Admin to search, create, view, update, or delete people. See [User Administration](#user_administration) for more information on adding and removing members.

#### API Tokens
* **URI:** `https://<yourdomain>/admin/tokens`
* **Description:** Allows the admin to search and view Pivotal Tracker API Tokens.

#### Maintenance
* **URI:** `https://<yourdomain>/admin/maintenance_periods`
* **Description:** Allows the Admin to search, create, view, or delete maintenance periods.  This will cause periodic "countdown" alerts to be shown to users.

### <a name="user_administration"></a>User Administration

#### Account Email Validation
Note that Pivotal Tracker has stricter validation rules for a "valid" email address when compared to the Elastic Runtime UAA. It's possible an Elastic Runtime user was provisioned with an email such as `user@hostname`, which will fail validation when attempting to log in to Pivotal Tracker. We plan to address this limitation in a future release of Pivotal Tracker for PCF; in the meantime, the email will need to be changed by an Elastic Runtime administrator to an acceptable address such as `user@hostname.com`.

#### Inviting Users to a Pivotal Tracker Project
New Pivotal Tracker users can be invited via the Project "Add/Remove Members" page. Users can be added to multiple projects.

1. Type in a valid email address of an Elastic Runtime user in the "Add a project member" field, assign the desired role, and click "ADD".
1. The user will receive an email with a link which will allow them to finish the invitation process.
1. The invited person does not need to be an existing Elastic Runtime user at the time of invitation.  If the invitee is a new user, they must complete the Elastic Runtime signup process before they can accept the Pivotal Tracker project invitation.


#### Self-service Signup of New Users
Because Pivotal Tracker for PCF uses the Elastic Runtime for user authentication, the ability for end-users to self-provision their own Pivotal Tracker accounts depends on the configuration of Elastic Runtime. Specifically, refer to the [Apps Manager documentation](/pivotalcf/console/console-env-variables.html) pertaining to the `ENABLE_NON_ADMIN_USER_MANAGEMENT` configuration option.

#### Suspended Users
If a Pivotal Tracker user account is suspended by the Pivotal Tracker Administrator, the affected user will get an HTTP 500 response when trying to authenticate to Pivotal Tracker.

#### Password Reset
Pivotal Tracker users do not have the ability to reset their password. If a password is forgotten and needs to be reset, they will need to contact an Elastic Runtime administrator.

## Support
Email tracker-pcf@pivotal.io with questions or problems.

### Reporting Problems
When reporting problems, please provide as much of the following information as possible or appropriate:

* Steps to reproduce the problem including expected behavior and actual behavior
* The URL of the page(s) involved
* Any error messages shown
* A screenshot/screencast showing the problem
* Any relevant logs (see the "Logging" section above for details)
* A screenshot or PDF of the `/env_info` and `/env_info/attachments` pages
